*
{
	margin:0px;
	padding:0px;
}
.main
{
	margin:30px;
}
/*1*/
.div1
{
	height:360px;
	width:750px;
	background-color:rgb(160,90,255);
}
.div11
{
	height:240px;
	width:270px;
	background-color:rgb(160,90,255);
	float:left;
	position:relative;
	top:2px;
	left:80px;
	bottom:10px;
}
.div111
{
	height:100px;
	width:110px;
	background-color:white;
	float:left;
	margin:10px;
}
.div112
{
	height:100px;
	width:110px;
	background-color:white;
	float:right;
	margin:10px;
}
.div12
{
	height:360px;
	width:350px;
	float:right;
	background-color: red;
}
.i2
{
	height:360px;
	width:350px;
	position:relative;
	top:0px;
}
.h11
{
	color:white;
	margin-bottom:0px;
	position:relative;
	left:10px; 
	font-family: calibri;
}
.icon
{
	color:rgb(160,90,255);
	position:relative;
	top:20px;
	left:38px;
	font-size:35px;
}
.p11
{
	font-size: 12px;
	color:black;
	position:relative;
	right:20px;
	top:13px;
	text-transform: uppercase;
}
.p12
{
	font-size: 12px;
	color:black;
	position:relative;
	right:30px;
	top:13px;
	text-transform: uppercase;
}
.p13
{
	font-size: 12px;
	color:black;
	position:relative;
	right:12px;
	top:13px;
	text-transform: uppercase;
}
.p14
{
	color:white;
	position:relative;
	left:10px;
}
/*2*/
.div2
{
	height:350px;
	width:750px;
	background-color:white;
}
.div21
{
	height:350px;
	width:350px;
	background-color:white;
	float:left;
}
.img2
{
	height:350px;
	width:350px;
}
.div22
{
	height:300px;
	width:400px;
	background-color:white;
	float:right;
}
#h2
{
	display:inline;
	font-family: cursive;
}
#b1
{
	margin-top:30px;
	margin-bottom: 6px;
	border-radius:15px;
	padding: 3px 25px;
	background-color: violet;
	border:1px solid violet;
}
#s1
{
	color:grey;
}
.i1
{
	height:35px;
	width:120px;
	margin-bottom:20px;
}
/*3*/
.div3
{
	height:350px;
	width:750px;
	background-color:purple;
}
.div31
{
	height:350px;
	width:350px;
	background-color:rgb(0,30,100);
	float:left;
}
#h31
{
	color:white;
	position:relative;
	top:55px;
	left:40px;
}
#p31
{
	color:rgb(160,90,255);
	position:relative;
	top:45px;
	left:40px;
}
#p32
{
	color:rgb(160,90,255);
	position:relative;
	top:70px;
	left:40px;
}
#b31
{
	margin-top:85px;
	margin-bottom: 6px;
	margin-left:40px;
	border-radius:8px;
	background-color:rgb(160,90,255);
	padding:8px 35px;
	border:1px solid rgb(160,90,255);
	text-transform: uppercase;
	color: white;
	font-weight: bold;
}
.div32
{
	height:350px;
	width:400px;
	background-color:purple;
	float:left;
}
.i3
{
	height:350px;
	width:400px;
	position:relative;
	top:0px;
}
/*4*/
.div4
{
	height:425px;
	width:750px;
	background-color:rgb(240,240,240);
}
.h41
{
	position:relative;
	top:20px;
	font-family: cursive;
}
.p4
{
	position:relative;
	top:20px;
}
.div41
{
	height:210px;
	width:220px;
	background-color:white;
	float:left;
	position:relative;
	top:40px;
	left:30px;
	margin:5px;
}
#it41
{
	font-size: 12px;
	font-family: aptos;
	padding:25px 5px;
}
#sp41
{
	display:block;
	font-size: 12px;
	font-family: aptos;
	text-align: right;
	padding:10px 5px;
}
.div411
{
	display:inline;
	height:63px;
	width:63px;
	background-color: white;
	border-radius: 360px;
	position:relative;
	top:12px;
	left:10px;
}
.img4
{
	height:64px;
	width:64px;
	border-radius: 360px;
	border:6px solid purple;
}
.p42
{
	width:750px;
	height:7px;
	color:black;
	background-color:rgb(240,240,240);
	text-align: center;
	position: relative;
	bottom:30px;
}
.name
{
	position:relative;
	top:-40px;
	left:-15px;
	font-size: 20px;
	color:rgb(160,90,255);
	font-weight:bold;
	font-family:calibri;
}
/*5*/
.div5
{
	height:450px;
	width:750px;
	background-color:rgb(0,30,100);
	position:relative;
	padding-bottom: 0px;
}
.div51
{
	height:100px;
	width:750px;
	background-color:rgb(160,90,255);
	position: absolute;
	bottom:130px;
}
.div52
{
	height:270px;
	width:200px;
	background-color: white;
	float:left;
	position:relative;
	top:20px;
	left:40px;
	margin:10px;
	border-radius: 10px;
}
.h51
{
	color:white;
	padding-top:20px;
}
#sm51
{
	color:white;
}
#p51
{
	width:750px;
	color:white;
	height:30px;
	background-color:rgb(0,30,100);
	text-align: center;
	position: absolute;
	bottom:10px;
}
.img51
{
	height:120px;
	width:140px;
	position: relative;
	left:35px;
	border-bottom:1px solid black;
}
.h52
{
	text-align: center;
	color:rgb(160,90,255);
	padding-top:10px;
	padding-bottom: 3px;
}
.sp1
{
	font-size:11px;
	font-family: arial;
}
.but51
{
	margin-top:15px;
	margin-bottom: 6px;
	margin-left:40px;
	border-radius:8px;
	background-color:rgb(160,90,255);
	padding:5px 15px;
	border:1px solid rgb(160,90,255);
	text-transform: uppercase;
	color: white;
	font-weight: bold;

}
/*6*/
.div6
{
	height:380px;
	width:750px;
	background-color:white;
}
#h61
{
	font-family: arial;
	font-size:30px;
	padding-top:30px;
}
#p61
{
	font-family: arial;
	font-size: 13px;
}
#inp61
{
	width:280px;
	padding:5px;
	border: 2px solid rgb(240,240,240);
	box-shadow: 0 3px 1px 0 lightgray;
}
#inp62
{
	background-color:rgb(160,90,255);
	padding:7px 20px;
	color: white;
	font-weight: bold;
	border-radius:8px;
	border:1px solid rgb(160,90,255);
}
.sp61
{
	color:gray;
	margin-top:10px;
}
.img61
{
	height:1px;
	width:1px;
}
/*7*/
.div7
{
	height:860px;
	width:750px;
	background-color:rgb(0,30,100);
	position:relative;
}
.div71
{
	height:470px;
	width:150px;
	background-color:rgb(160,90,255);
	position:absolute;
	left:170px;
	top:40px;
}
.div72
{
	width:620px;
	height:300px;
	background-color:rgb(0,30,100);
	position:absolute;
	left:100px;
	top:80px;
}
.div73
{
	width:620px;
	height:155px;
	margin:4px;
}
.div74
{
	width:155px;
	height:155px;
	background-color:rgb(0,30,100);
	float:left;
}
.im7
{
	height:150px;
	width:205px;
	margin:4px;
}
.div75
{
	height:230px;
	width:250px;
	background-color: white;
	position:absolute;
	top:350px;
	left:390px;
	border-radius: 10px;
}
.h71
{
	position:relative;
	top:15px;
	left:13px;
}
#sp1
{
	font-size:12px;
	position:relative;
	top:15px;
	left:13px;
	color:grey;
}
#p71
{
	position:relative;
	top:20px;
	left:13px;
	color:grey;
}
.but71
{
	margin-top:25px;
	margin-bottom: 6px;
	margin-left:13px;
	border-radius:8px;
	background-color: rgb(160,90,255);
	padding:5px 18px;
	border:1px solid rgb(160,90,255);
	text-transform: uppercase;
	color: white;
	font-weight: bold;

}
.div76
{
	height:300px;
	width:200px;
	background-color: pink;
	position:absolute;
	top:630px;
	left:90px;
	border-radius: 10px;
}
.div77
{
	height:300px;
	width:200px;
	background-color: blue;
	position:absolute;
	top:720px;
	left:220px;
	border-radius: 10px;
}
.div78
{
	height:210px;
	width:250px;
	background-color: rgb(160,90,255);
	position:absolute;
	top:630px;
	left:390px;
	border-radius: 10px;
}
.h72
{
	color:white;
	position:relative;
	top:10px;
	left:10px;
}
.im71
{
	height:300px;
	width:200px;
	border-radius: 10px;
}
.sp72
{
	color:white;
	font-size: 12px;
	position:relative;
	top:10px;
	left:10px;
}
.sp73
{
	font-family: aptos;
	color:white;
	position:relative;
	top:20px;
	left:10px;
}
.but72
{
	border:2px solid white;
	color:white;
	font-weight: bold;
	background-color:rgb(160,90,255);
	position:relative;
	top:10px;
	left:10px;
	border-radius: 5px;
	padding:5px 20px;
	margin-top:20px;
}
/*8*/
.div8
{
	height:530px;
	width:750px;
	background-color:rgb(240,240,240);
}
.h81
{
	position:relative;
	top:210px;
	font-size: 30px;
}
.sp81
{
	position:relative;
	top:230px;
	color:grey;
}
.div81
{
	height:200px;
	width:170px;
	position:relative;
	top:220px;
	left:10px;
	background-color:rgb(240,240,240);
	float:left;
	margin:5px;
	margin-top:20px;
}
.sp82
{
	color:rgb(160,90,255);
	font-size: 40px;
	font-family: cursive;
	position:relative;
	top:5px;
	left:8px;
	font-weight: bold;
}
.sp83
{
	color:grey;
	font-size: 14px;
	position:relative;
	left:8px;
}

/*9*/
.div9
{
	height:620px;
	width:750px;
	background-color:rgb(0,30,100);
	position:relative;
}
.div91
{
	height:550px;
	width:650px;
	background-color: pink;
	position:absolute;
	top:30px;
	left:50px;
}
.div92
{
	height:550px;
	width:325px;
	background-color: rgb(160,90,255);
	float:left;
}
.div93
{
	height:550px;
	width:325px;
	background-color: white;
	float:left;
}
#h91
{
	position:relative;
	top:10px;
	left:10px;
	font-family: cursive;
}
.sp91
{
	position:relative;
	top:10px;
	left:10px;
	font-size: 14px;
}
label
{
	position:relative;
	left:10px;
}
.type
{
	position:relative;
	left:10px;
	width:290px;
	padding:4px 0px;
	background-color: rgb(203,195,227);
	border:2px solid rgb(203,195,227);
	border-radius: 5px;
	margin-bottom: 15px;
}
textarea
{
	position:relative;
	left:10px;
	width:290px;
	padding:4px 0px;
	background-color: rgb(203,195,227);
	border:2px solid rgb(203,195,227);
	border-radius: 5px;
	margin-bottom: 15px;
}
#but91
{
	position:relative;
	left:10px;
	width:290px;
	padding:8px 0px;
	background-color: rgb(160,90,255);
	border:2px solid rgb(160,90,255);
	border-radius: 5px;
	margin-bottom: 15px;
}
.h92
{
	color:white;
	font-weight: bold;
	position:relative;
	top:20px;
	left:20px;
	font-family: cursive;
}
#sp92
{
	color:white;
	position:relative;
	top:20px;
	left:20px;
}
.div94
{
	height:90px;
	width:325px;
	background-color: rgb(160,90,255);
	padding:4px 20px;
}
.div95
{
	height:120px;
	width:325px;
	background-color: rgb(160,90,255);
	padding:5px 20px;
	margin:5px 0px;
}
.icon91
{
	color:white;
	font-size: 20px
}
.sp93
{
	color:white;
	font-weight: bold;
	font-size: 20px;
}
.sp94
{
	color: snow;
	padding:20px 25px;
	margin-top:20px;
	position:relative;
	top:10px;
}
.sp95
{
	color:violet;
	padding:20px 25px;
	margin-top:20px;
	position:relative;
	top:20px;
}
#sp96
{
	color:white;
	padding:20px 25px;
	margin-top:20px;
	position:relative;
	top:25px;
}
.ic9
{
	color:white;
	position:relative;
	bottom:-20px;
	left:20px;
	font-size: 20px;
}
/*10*/
.div10
{
	height:140px;
	width:750px;
	background-color: rgb(80,80,90);
}
.sp101
{
	color:white;
	position:relative;
	top:25px;
}
.sp2
{
	color:white;
	position:relative;
	top:75px;
}
a:link
{
	color:violet;
}
.im10
{
	height:40px;
	width:40px;
	position:relative;
	bottom:-50px;
	right:-710px;
}